<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cookie_Dough.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
    <userSettings>
        <Cookie_Dough.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Schwierigkeitsgrad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Thumbnail" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundA" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UniqueIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="GamesWon" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GamesLost" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MOTD" serializeAs="String">
                <value>Lorem Ipsum</value>
            </setting>
            <setting name="SoundB" serializeAs="String">
                <value>0</value>
            </setting>
        </Cookie_Dough.Settings>
    </userSettings>
</configuration>
